// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// responsive

// @mixin responsive($breakpoint) {
//   @if ($breakpoint) == mobile {
//     @media screen and (max-width: 29.9em) {
//       //  479pxx
//       @content;
//     }
//   }

//   @if ($breakpoint) == mtablet {
//     @media screen and (max-width: 47.9em) {
//       //767px
//       @content;
//     }
//   }

//   @if ($breakpoint) == large-tablet {
//     @media screen and (max-width: 61.9em) {
//       //     991px
//       @content;
//     }
//   }
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // overflow: hidden;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media screen and (max-width: 66em) {
    font-size: 50%;
  }
  @media screen and (max-width: 45em) {
    font-size: 45%;
  }
}
body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: minmax(8rem, 1fr) repeat(8, minmax(min-content, 15rem)) minmax(
      8rem,
      1fr
    );
}
